<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <form th:action="loginUser" method="post">
        <img src="https://cdn2.f-cdn.com/contestentries/365819/10129715/56e657a9c8e95_thumb900.jpg">
        <h2>Log In</h2>
        <input type="email" name="email" placeholder="Email" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <span th:if="${param.error}" style="color: white">User or Password is invaid</span>
        <button type="submit">Log In</button>
        <div>
            <a th:href="@{register}" class="redirect-register">Register</a>
            <a th:href="@{index}" class="go-back">Return Home</a>
        </div>
    </form>
</body>
</html>