<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="./css/register.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Register</p>
        </div>

        <div class="form-content">
            <form th:action="@{registerUser}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name *" name="userName" value=""
                                   required/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address *" name="email" value=""
                                   required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" name="password"
                                   value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password *"
                                   name="rePassword" value="" required/>
                        </div>
                    </div>
                </div>
                <span th:if="${param.error}">Password is not invaid</span>
                <button type="submit" class="btnSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>