<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div>
        <h2>Reset Your Password</h2>
    </div>

    <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" required autofocus />
                </p>
                <p>
                    <input type="password" class="form-control" placeholder="Confirm your new password"
                           required oninput="checkPasswordMatch(this);" />
                </p>
                <p class="text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function checkPasswordMatch(fieldConfirmPassword) {
            if (fieldConfirmPassword.value != $("#password").val()) {
                fieldConfirmPassword.setCustomValidity("Passwords do not match!");
            } else {
                fieldConfirmPassword.setCustomValidity("");
            }
        }
    </script>
</body>
</html>