<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Room Management</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div align="center">
    <h1 style="margin: 45px 0">Room Management</h1>
    <button type="button" class="btn btn-primary btn-lg"><a th:href="@{/room/new}" style="color: #FFFFFF"
    >Create New Room</a></button>


    <br/><br/>
    <table class="table table-striped" style="width: 80%">
        <thead>
        <tr>
            <th>Room ID</th>
            <th>Room Type</th>
            <th>Content</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" rooms : ${listRooms}">
            <td th:text="${rooms.id}">Product ID</td>
            <td th:text="${rooms.roomType}">Name</td>
            <td th:text="${rooms.content}">Brand</td>
            <td th:text="${rooms.price}">Made in</td>
            <td>
                <button type="button" class="btn btn-secondary"><a style="color: #FFFFFF" th:href="@{'/room/edit/' + ${rooms.id}}">Edit</a></button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger"><a style="color: #FFFFFF" th:href="@{'/room/delete/' + ${rooms.id}}">Delete</a></button>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    Total Items: [[${totalItems}]]
    <br>
    <a th:if="${currentPage > 1}" th:href="@{'/room/page/1'}">First</a>
    <span th:unless="${currentPage > 1}">First</span>

    <a th:if="${currentPage > 1}" th:href="@{'/room/page/' + ${currentPage - 1}}">Previous</a>
    <span th:unless="${currentPage > 1}">Previous</span>

    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}" th:href="@{'/room/page/' + ${i}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
    </span>

    <a th:if="${currentPage < totalPages}" th:href="@{'/room/page/' + ${currentPage + 1}}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span>
    <a th:if="${currentPage < totalPages}" th:href="@{'/room/page/' + ${totalPages}}">Last</a>
    <span th:unless="${currentPage < totalPages}">Last</span>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</body>
</html>